.container{
    width:600px;
    height:190px;
    background-color:yellow;
    padding-top:150px;
    padding-bottom: 220px;
    padding-left:378px;
    padding-right:378px;
}
#st-box{
    float:left;
    width:180px;
    height:280px;
    background-color:white;
    border:solid black;
}
#nd-box{
    float:left;
    width:180px;
    height:280px;
    background-color:white; 
    border:solid black;
    margin-left:20px;
}
#rd-box{
    float:right;
    width:180px;
    height:280px;
    background-color:white;
    border:solid black;
}

button{
    background-color: rgb(83, 50, 83);
    color: white;
}