body{
     text-align: center; padding: 150px; 
     font: 20px Helvetica, sans-serif; 
     color: rgb(49, 43, 43); 
}

h1{ 
    font-size: 50px; 
}

article{ 
    display: block; 
    text-align: left; 
    width: 650px; 
    margin: 0 auto; 
}

a{ 
    color: #e4921f; 
    text-decoration: none; 
}

