body { 
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
.header {
    padding: 5px;
    padding-top: 0;
    color: rgb(70, 58, 58);
}
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    background-color: black;
    padding-top: 30px;
}
.header-right {
    float: right;
}
img{
    width: 1345px;
    height: 250px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 80px;
}
h3{
    color: black;
    font-weight: bolder;
    font-size: 200%;
}
p{
    color: black;
}
section{
    background-color: rgb(187, 186, 186);
    padding: 10px;
    border-radius: 10px;
}
.header-left{
    float: left;
    font-weight: 700;   
}